@font-face {
    font-family: 'SF Mono';
    src: url('/fonts/SFMono-Regular.eot');
    src: url('/fonts/SFMono-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFMono-Regular.woff2') format('woff2'),
    url('/fonts/SFMono-Regular.woff') format('woff'),
    url('/fonts/SFMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('/fonts/SFMono-Medium.eot');
    src: url('/fonts/SFMono-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFMono-Medium.woff2') format('woff2'),
    url('/fonts/SFMono-Medium.woff') format('woff'),
    url('/fonts/SFMono-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('/fonts/SFMono-Bold.eot');
    src: url('/fonts/SFMono-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SFMono-Bold.woff2') format('woff2'),
    url('/fonts/SFMono-Bold.woff') format('woff'),
    url('/fonts/SFMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

