@import './responsives';
@import './fonts';

$horizontal-padding: 35px;
$horizontal-padding-mob: 25px;

$vertical-padding: 18px;
$vertical-padding-mob: 18px;

$darkgrey: #6E6E6E;
$grey: #A6A6A6;
$lightgrey: #E2E2E2;


* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

main {
    transition: all 0.4s ease-in-out;
}

h1 {
    font-family: 'SF Mono';
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;
    letter-spacing: -0.03em;
    word-break: break-word;

    p:first-child {
        padding-top: 0 !important;
    }

    p {
        padding-top: 48px;
    }
}

h2 {
    letter-spacing: -0.03em;

    @include xs {
        font-size: 28px;
        line-height: 30px;
    }

    @include l {
        font-size: 36px;
        line-height: 38px;
    }
}

h3 {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0em;
}

a {
    color: white !important;
    text-decoration: underline;
    text-decoration-color: white;
    transition: all 0.2s linear;
    cursor: pointer !important;

    &:hover {
        text-decoration-color: transparent;
    }
}

a:hover, a:active, a:visited, a:focus {
    text-decoration: underline;
}

a:visited {
    color: white;
}

// Props
.grey {
    color: $grey;
}

.dark-grey {
    color: $darkgrey;
}

.grey {
    color: $grey;
}

.inline {
    display: inline-block;
}

.hidden {
    display: none;
}

.more-padding {
    padding: 0 0 3px 0;
}

// Header
nav {
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    position: absolute;
    left: 5px;
    right: 5px;
    background: white;
    height: 70px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    top: -90px;
    letter-spacing: -0.01em;

    .nav-left {
        display: flex;

        @include xs {
            padding: 24px 0 0 30px;
        }

        @include s {
            padding: 24px 0 0 35px;
        }

        & > div {
            margin-right: 25px;
        }

        a {
            color: black !important;
            text-decoration: underline;
            text-decoration-color: black;
            transition: all 0.2s linear;

            &:hover {
                text-decoration-color: transparent;
            }
        }
    }

    .nav-right {
        @include xs {
            padding: 16px 30px 16px 0;
        }

        @include s {
            padding: 16px 35px 16px 0;
        }

        img {
            height: 38px;
        }
    }

    .__active {
        a {
            color: #888888 !important;
            text-decoration: none;
            pointer-events: none;
        }
    }

    .nav-title-group {
        color: black;
        margin-right: 0 !important;
        display: flex;
        align-self: baseline;

        .nav-title {
            @include xs {
                font-size: 16px;
                line-height: 22px;
                span {
                    display: none;
                }
            }

            @include s {
                font-size: 18px;
                line-height: 22px;
                letter-spacing: -0.03em;
                span {
                    display: inline;
                }
            }
        }

        a {
            font-size: 16px;
            line-height: 18px;
            padding: 1px 9px 4px 8px;
            margin-right: 12px;
            background: #E2E2E2;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0), inset 2px 2px 2px rgba(255, 255, 255, 0.5), inset -2px -2px 2px rgba(0, 0, 0, 0.15);
            border-radius: 5px;

            &:hover {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 2px 2px 2px rgba(255, 255, 255, 0.5), inset -2px -2px 2px rgba(0, 0, 0, 0.15);
            }
        }
    }
}

.__fixed {
    position: fixed !important;
    animation: slidetop 0.5s ease-out forwards;
}

@keyframes slidetop {
    to {
        top: 5px;
    }
}

// Main container
// Elements
.title {
    display: flex;
    align-items: baseline;

    @include xs {
        padding: 14px $horizontal-padding-mob 26px $horizontal-padding-mob;
    }

    @include s {
        padding: 14px $horizontal-padding 11px $horizontal-padding;
    }

    img {
        margin-right: 16px;
    }


}

.next-post {
    background: black;
    color: white;
    transition: all 0.15s linear;
    font-size: 36px;
    line-height: 38px;
    letter-spacing: -0.03em;

    @include xs {
        padding: 30px $horizontal-padding-mob 33px $horizontal-padding-mob;
        span {
            display: none;
        }
    }

    @include m {
        padding: 35px $horizontal-padding 38px $horizontal-padding;
        span {
            display: inline;
        }
    }

    a {
        border-radius: 7px;
        transition: all 0.2s linear !important;

        img {
            margin-right: 10px;
            filter: invert(1);
        }
    }
}

.go-top {
    @include xs {
        padding: 23px $horizontal-padding-mob 26px $horizontal-padding-mob;
    }

    @include s {
        padding: 23px $horizontal-padding 26px $horizontal-padding;
    }

    a {
        mix-blend-mode: difference;
        img {
            margin-right: 6px;
            transform: translateY(2px);
        }
    }
}

.description {
    padding: 8px $horizontal-padding 100px $horizontal-padding;
    background: black;
    color: white;
}

.story {
    background: black;
    color: white;

    @include xs {
        display: block;
    }

    @include xm {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    @include xs {
        padding: 30px $horizontal-padding-mob 33px $horizontal-padding-mob;
    }

    @include s {
        padding: 35px $horizontal-padding 38px $horizontal-padding;
    }

    .story-name {
        margin-bottom: 19px;
        font-size: 22px;
        line-height: 22px;
        letter-spacing: -0.01em;

        img {
            filter: invert(1);
            width: 0.77em;
            margin-right: 7px;
            transform: translateY(0.5px);
        }
    }

    .story-text {
        font-family: 'SF Mono';
        font-weight: normal;
        font-size: 17px;
        line-height: 23px;
        letter-spacing: -0.03em;

        a {
            color: white;
            text-decoration: underline;
            text-decoration-color: white;
            transition: all 0.2s linear;

            &:hover {
                text-decoration-color: transparent;
            }
        }
    }
}


.highlight {
    background: white;
    color: black;

    @include xs {
        font-size: 36px;
        line-height: 38px;
        letter-spacing: -0.03em;
        padding: 25px $horizontal-padding-mob 88px $horizontal-padding-mob;
    }

    @include s {
        padding: 30px $horizontal-padding 100px $horizontal-padding;
    }

    @include l {
        font-size: 42px;
        line-height: 99%;
        letter-spacing: -0.035em;
    }

    @include xl {
        font-size: 48px;
        line-height: 45px;
        letter-spacing: -0.04em;
    }

    a {
        color: black !important;
        text-decoration: underline;
        text-decoration-color: black;
        transition: all 0.2s linear;

        &:hover {
            text-decoration-color: transparent;
        }
    }
}

//________________________________

.__full {
    display: flex;
    align-items: center;
    width: 100%;
}

.__half {
    @include xs {
        display: block;
        width: 100%;
    }

    @include s {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        margin-bottom: -4px;
    }
}

.supermedium {
    position: relative;
    overflow: hidden;
    background: $lightgrey;
    height: 717px;

    @include xs {
        height: 110vw;
    }

    @include s {
        height: 80vw;
    }

    @include m {
        height: 75vw;
    }

    @include xm {
        height: 64vw;
    }

    @include l {
        height: 717px;
    }

    video {
        position: absolute;
        width: 101%;
        height: 101%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        object-fit: cover;
    }

    .desktop-screen {
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        @include xs {
            width: 93vw;
        }

        @include l {
            width: 1108px;
        }

        .__device {
            width: inherit;
            img {
                width: inherit;
            }
        }

        .__media {
            position: absolute;
            left: 50%;
            transform: translateX(-50%) translateY(0);

            @include xs {
                top: 2.1vw;
                width: 71.3vw;
                height: 44.6vw;
            }

            @include l {
                top: 26px;
                width: 850px;
                height: 532px;
            }

            img, video {
                width: inherit;
                height: inherit;
                position: inherit;
            }
        }
    }

    .ipad-screen {
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        @include xs {
            width: 76vw;
        }

        @include s {
            width: 73vw;
        }

        @include l {
            width: 860px;
        }

        .__device {
            width: inherit;
            img {
                width: inherit;
            }
        }

        .__media {
            position: absolute;
            left: 50%;
            transform: translateX(-50%) translateY(0);
            overflow: hidden;

            @include xs {
                top: 3vw;
                width: 69.6vw;
                height: 48.4vw;
                border-radius: 1.05vw;
            }

            @include s {
                top: 2.9vw;
                width: 66.85vw;
                height: 46.7vw;
                border-radius: 1.05vw;
            }

            @include l {
                top: 34px;
                width: 787px;
                height: 550px;
                border-radius: 10px;
            }

            img, video {
                width: inherit;
                height: inherit;
                position: inherit;
            }
        }
    }

    .iphonex-screen {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        @include xs {
            width: 41vw;
        }

        @include s {
            width: 26vw;
        }

        @include l {
            width: 304px;
        }

        .__device {
            width: inherit;
            img {
                width: inherit;
            }
            .__notch {
                position: absolute;
                width: inherit;
                top: 0;
                z-index: 1;
            }
        }

        .__media {
            position: absolute;
            left: 50%;
            transform: translateX(-50%) translateY(0);
            overflow: hidden;

            @include xs {
                top: 1.9vw;
                width: 36.8vw;
                height: 80.2vw;
                border-radius: 4.4vw;
            }

            @include s {
                top: 1.1vw;
                width: 23.35vw;
                height: 50.9vw;
                border-radius: 3vw;
            }

            @include l {
                top: 13px;
                width: 274px;
                height: 596px;
                border-radius: 35px;
            }

            img, video {
                width: inherit;
                height: inherit;
                position: inherit;
            }
        }
    }

    .iphone6-screen {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        @include xs {
            width: 41vw;
        }

        @include s {
            width: 26vw;
        }

        @include l {
            width: 304px;
        }

        .__device {
            width: inherit;
            img {
                width: inherit;
            }
        }

        .__media {
            position: absolute;
            left: 50%;
            transform: translateX(-50%) translateY(0);
            overflow: hidden;

            @include xs {
                top: 9.3vw;
                width: 36vw;
                height: 64.25vw;
            }

            @include s {
                top: 6vw;
                width: 22.9vw;
                height: 40.7vw;
            }

            @include l {
                top: 70px;
                width: 268px;
                height: 476px;
            }

            img, video {
                width: inherit;
                height: inherit;
                position: inherit;
            }
        }
    }

    .nomediaH {
        width: 80%;
        height: 85%;

        //position: relative;
        //width: 100%;

        //@include xs {
        //    height: 83vw;
        //}
        //
        //@include s {
        //    height: 51.5vw;
        //}
        //
        //@include l {
        //    height: 610px;
        //}

        .__media {
            //position: absolute;
            //height: inherit;
            //width: inherit;

            height: inherit;
            width: inherit;

            img {
                //height: inherit;
                //position: inherit;
                //left: 50%;
                //transform: translateX(-50%);

                height: inherit;
                width: inherit;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                object-fit: contain;
            }

            video {
                height: inherit;
                width: auto;
                //position: inherit;
            }
        }
    }

    .nomediaW {
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        @include xs {
            width: 92vw;
        }

        @include l {
            width: 1108px;
        }

        .__media {
            position: absolute;
            width: inherit;
            display: flex;
            align-items: center;

            img, video {
                position: inherit;
                width: inherit;
            }
        }
    }
}

.fullpage {
    width: 100%;
    height: auto;
    background: $lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
        margin: 44px 44px;
        width: 87vw;

        img {
            width: inherit;
            display: block;
        }
    }

    .__cut {
        margin: 48px 0 0 0 !important;
    }

    .__more-padding {
        padding: 0 0 3px 0;
    }
}

.code {
    position: relative;
    overflow: hidden;
    background: $lightgrey;
    height: 717px;
    display: flex;
    align-items: center;

    ::-webkit-scrollbar {
        display: none;
    }

    .code-container {
        height: 600px;
        position: relative;
        background: #090909;
        border-radius: 25px;
        left: 50%;
        transform: translateX(-50%);

        @include xs {
            width: 76vw;
            .code-tabs {
                div:nth-child(1){
                    margin-left: -60px;
                }
                div:nth-child(2), div:nth-child(3), div:nth-child(4),  div:nth-child(5) {
                    display: none;
                }
            }
            .linenumber {
                display: none !important;
            }
            code {
                font-size: 11px !important;
            }
            pre {
                line-height: 13px !important;
            }
        }

        @include s {
            .code-tabs {
                div:nth-child(1){
                    margin-left: 0;
                }
                div:nth-child(2), div:nth-child(3), div:nth-child(4),  div:nth-child(5) {
                    display: block;
                }
            }
            .linenumber {
                display: inline-block !important;
            }

            code {
                font-size: 14px !important;
            }
            pre {
                line-height: 20px !important;
            }
        }

        @include l {
            width: 885px;
        }
    }

    .code-fields-container {
        height: 526px;
        width: calc(100% - 50px);
        background: #262626;
        overflow-y: scroll;
        display: flex;
        margin: 0 auto;

        &:hover {
            .viewGithub {
                display: flex;
                opacity: 0.4;
                visibility: visible;
            }
        }

        .viewGithub {
            display: flex;
            color: #8F8F8F !important;
            text-decoration: none;
            opacity: 0;
            font-size: 13px;
            position: absolute;
            z-index: 9999;
            right: 28px;
            bottom: 28px;
            padding: 5px 7px;
            letter-spacing: -0.01em;
            visibility: hidden;
            transition: all 0.1s linear;

            img {
                width: 16px;
                height: 16px;
                margin-right: 6px;
            }
        }
    }

    .code-numeration {
        width: 60px;
        height: inherit;
        background: #1B1B1B;
        font-family: 'SF Mono';
        font-weight: 500;
        font-size: 11px;
        line-height: 20px;
        color: #5F5F5F;
        padding: 2px 0 0 9px;
    }

    .code-fields {
        width: 100%;
        font-family: 'SF Mono';
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #C8C6C6;
        white-space: pre-wrap;

        .code-field {
            display: none;
        }

        & > div.__active {
            display: block !important;
        }
    }


    .code-tabs {
        display: flex;
        height: 52px;
        margin-left: 86px;
        font-size: 14px;
        letter-spacing: -0.01em;

        .code-tab {
            margin-right: 30px;
            border-top: 2px solid transparent;
            padding-top: 1px;

            a {
                color: $darkgrey !important;
                text-decoration: none;
                cursor: pointer;
                padding-bottom: 10px;
            }
        }

        & > div.__on {
            border-top: 2px solid transparent;
            border-image: url('/checker.png') 8 0 0 0 round;

            a {
                color: white !important;
            }
        }
    }
}

code {
    span:nth-child(1) {
        span:nth-child(1) {
            padding: 7px 0 0 9px !important;
        }
    }

    span {
        span:nth-child(2) {
            margin-left: 7px;
        }
    }

    .linenumber {
        color: #5F5F5F !important;
    }
}

.footer {
    background: white;

    @include xs {
        padding: 30px 25px;
    }

    @include s {
        padding: 40px $horizontal-padding;
    }

    & > div {
        width: 283px;
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

.__footer-grey {
    background: #E2E2E2;
}

.container {
    @include xs {
        padding: $vertical-padding-mob $horizontal-padding-mob;
    }

    @include s {
        padding: $vertical-padding $horizontal-padding;
    }
}

.rainbow {
    justify-content: space-between;
    background: url('/home/ktf_violet.jpg') center center / cover no-repeat;
    background-blend-mode: difference;
    animation: colorful 60s linear infinite;

    @include xs {
        font-size: 14px;
        line-height: 16px;
        display: block;
        padding-bottom: 30px;
    }

    @include s {
        font-size: 16px;
        line-height: 18px;
        display: flex;
        height: 143px;
        padding-bottom: 0;
    }

    @keyframes colorful {
        0% {
            background-color: rgb(255, 0, 0);
        }
        16% {
            background-color: rgb(255, 255, 0);
        }
        32% {
            background-color: rgb(0, 255, 0);
        }
        48% {
            background-color: rgb(0, 255, 255);
        }
        64% {
            background-color: rgb(0, 0, 255);
        }
        80% {
            background-color: rgb(255, 0, 255);
        }
        100% {
            background-color: rgb(255, 0, 0);
        }
    }

    .left, .right {
        mix-blend-mode: difference;
        @include xs {
            padding: 25px $horizontal-padding-mob;
        }

        @include s {
            padding: 25px $horizontal-padding;
        }
    }

    .left {
        .contacts {
            a {
                text-decoration-color: transparent !important;
                text-decoration: underline;
                transition: all 0.2s linear;

                &:hover {
                    text-decoration-color: white !important;
                }
            }
        }
    }

    .right {
        img {
            @include xs {
                width: 100%;
            }
            @include s {
                width: 128px;
            }
        }
    }
}

.logo {
    a {
        text-decoration-color: transparent !important;
        text-decoration: underline;
        transition: all 0.2s linear;

        &:hover {
            text-decoration-color: white !important;
        }
    }
}

.motto {
    letter-spacing: -0.045em;
    text-align: left;

    @include xs {
        font-size: 62px;
        line-height: 56px;
        padding-bottom: 38px;
    }

    @include s {
        font-size: 9.04vw;
        padding-bottom: 21px;
    }

    @include m {
        font-size: 9.1vw;
        line-height: 90%;
    }

    @include xm {
        font-size: 9.3vw;
        padding-bottom: 52px;
    }

    @include l {
        font-size: 9.5vw;
        padding-bottom: 60px;
    }

    @include xxl {
        font-size: 9.725vw;
    }
}

.home-intro {
    padding-bottom: 55px;

    .read-about {
        font-size: 14px;
        margin-top: 25px;
    }
}

.home {
    display: grid;

    @include xs {
        grid-template-columns: auto;
        grid-gap: 0;
    }

    @include xm {
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }

    @include l {
        grid-template-columns: auto auto;
        grid-gap: 85px;
    }

    @include xl {
        grid-template-columns: 54% auto;
    }

    .home-projects {
        .home-project {
            padding-bottom: 65px;

            .home-project-title {
                letter-spacing: -0.04em;

                @include xs {
                    font-size: 36px;
                    line-height: 38px;
                }

                @include l {
                    font-size: 48px;
                    line-height: 48px;
                }

                @include xl {
                    font-size: 3.2vw;
                    line-height: 102%;
                }

                img {
                    margin-right: 0.2em;
                    filter: invert(1);

                    @include xs {
                        width: 0.7em;
                    }

                    @include l {
                        width: 0.71em;
                    }
                }
            }

            .home-project-description {
                @include xs {
                    padding-top: 13px;
                }

                @include l {
                    padding-top: 17px;
                }
            }
        }
    }
}

.tags {
    display: flex;
    margin-left: 16px;

    @include xs {
        margin-top: 13px;
    }

    @include l {
        margin-top: 15px;
    }

    .tag {
        font-size: 16px;
        line-height: 13px;
        text-align: center;
        letter-spacing: -0.01em;
        background: #3E3E3E;
        color: white;
        padding: 3px 9px 8px 9px;
        border-radius: 7px;
        margin-right: 30px;

        &::before {
            content: "#";
            font-family: "SF Mono";
            font-weight: bold;
            color: #676767;
            width: 14px;
            height: 14px;
            position: absolute;
            margin-left: -26px;
            margin-top: -3px;
            padding: 5px 0;
            border-radius: 100px;
        }
    }
}

.post-bar {
    display: flex;
    justify-content: space-between;

    @include xs {
        font-size: 14px;
        line-height: 16px;
        height: 133px;
    }

    @include s {
        font-size: 16px;
        line-height: 18px;
        height: 143px;
    }

    .left, .right {
        mix-blend-mode: difference;
    }

    .left {
        @include xs {
            padding: 25px 0 25px $horizontal-padding-mob;
        }

        @include s {
            padding: 25px $horizontal-padding;
        }

        .contacts {
            a {
                text-decoration-color: transparent !important;
                text-decoration: underline;
                transition: all 0.2s linear;

                &:hover {
                    text-decoration-color: white !important;
                }
            }
        }
    }

    .right {
        @include xs {
            padding: 25px $horizontal-padding-mob 25px 0;
        }

        @include s {
            padding: 25px $horizontal-padding 25px 0;
        }

        img {
            @include xs {
                width: 112px;
            }

            @include s {
                width: 128px;
            }
        }
    }
}

.post-header {
    @include xs {
        padding: 20px $horizontal-padding-mob 28px $horizontal-padding-mob;
    }

    @include s {
        padding: 20px $horizontal-padding 28px $horizontal-padding;
    }

    @include l {
        padding: 25px $horizontal-padding 28px $horizontal-padding;
    }

    .post-title {
        letter-spacing: -0.05em;

        @include xs {
            font-size: 51px;
            line-height: 47px;
        }

        @include xm {
            font-size: 64px;
            line-height: 54px;
        }

        @include l {
            font-size: 72px;
            line-height: 54px;
        }
    }

    .short-description {
        margin-top: 50px;
        margin-bottom: 14px;
    }
}

.about {
    font-family: 'SF Mono';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: -0.03em;

    @include xs {
        padding: 10px $horizontal-padding-mob 38px $horizontal-padding-mob;
    }

    @include s {
        padding: 10px $horizontal-padding 38px $horizontal-padding;
    }

    @include m {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 50px;
    }

    @include l {
        grid-gap: 85px;
    }

    @include xl {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 85px;
    }

    .about-block {
        padding-bottom: 42px;

        p {
            padding: 10px 0;

            img {
                filter: invert(1);
                width: 0.7em;
                margin-right: 5px;
            }
        }
    }

    a {
        color: white !important;
        text-decoration: underline;
        text-decoration-color: white;
        transition: all 0.2s linear;
        cursor: pointer !important;

        &:hover {
            text-decoration-color: transparent;
        }
    }

    .download-pdf {
        font-family: 'Helvetica Neue';
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0;

        img {
            margin-right: 8px;
            transform: translateY(2px);
        }
    }
}
