@import './responsives';

$black: black;
$darkgrey: #6E6E6E;
$grey: #9C9C9C;
$lightgrey: #E2E2E2;
$white: white;


$fullsize-height: 704px;
$fullsize-padding-bottom: 3px;

$screen-desktop-width: 846px;
$screen-desktop-height: 592px;
$screen-desktop-border: 18px;
$screen-desktop-border-radius: 18px;

$screen-iphoneX-width: 277px;
$screen-iphoneX-height: 600px;



* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.02em;
}

h3 {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.02em;
}

a {
    color: $black;
    text-decoration: none;
}

a:visited {
    color: $black;
    text-decoration: none;
}

// Columns
.col-12 {
    //width: 100%;
    padding: 0 8px 0 8px;
}

// Props
.grey {
    color: $grey;
}

.dark-grey {
    color: $darkgrey;
}

.inline {
    display: inline-block;
}

.hidden {
    display: none;
}

.more-padding {
    padding: 0 0 $fullsize-padding-bottom 0;
}


// Body
body {
    //overflow-x: hidden;
    color: $black;
    background-color: $white;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: -0.02em;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

// Header
nav {
    position: fixed;
    z-index: 999;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    background: $black;
    color: $white;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.02em;
    padding: 2px 8px 8px 8px;
}

nav > div:last-child {
    @include md {
        width: 261px;
    }

    @include lg {
        width: 299px;
    }

    @include xl {
        width: 402px;
    }
}

nav a {
    color: $white;
    text-decoration: none;
}

nav a:visited {
    color: $white;
    text-decoration: none;
}

// Main container
main {
    @include md {
        margin-top: 120px;
    }

    @include lg {
        margin-top: 98px;
    }

    @include xl {
        margin-top: 76px;
    }
}

// Elements
.post-title {
    height: 32px;
    font-size: 16px;
    letter-spacing: -0.01em;
    line-height: 29px;
}

.post-title img {
    float: right;
    margin: 8px 0 0 0;
}

.description {
    padding: 4px 8px 80px 8px;
}

.story {
    padding: 4px 8px 70px 8px;
}

.story-name, .story-text {
    display: inline-block;
    vertical-align: top;
}

.story-name {
    width: 768px;
}

.story-text {
    width: 468px;
}

//________________________________

.post-fullsize {
    width: 100%;
    height: $fullsize-height;
    padding: 0 0 $fullsize-padding-bottom 0;
    background: $lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-desktop {
    width: $screen-desktop-width;
    height: $screen-desktop-height;
    border: $screen-desktop-border $black solid;
    border-radius: $screen-desktop-border-radius;
    background: $black;
}

.screen-desktop img {
    width: inherit;
    display:block;
}

.screen-desktop video {
    width: inherit;
    display:block;
}

.post-fullsize-full {
    width: 100%;
    height: auto;
    background: $lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-desktop-full {
    margin: 44px 44px;
    width: $screen-desktop-width * 1.45;
    //width: $screen-desktop-width + ($screen-desktop-border-radius*2);
}

.screen-desktop-full img {
    width: inherit;
    display: block;
}

.cut {
    margin: 48px 0 0 0 !important;
}

.post-halfscreens {
    width: 50%;
    display: inline-block;
}

.post-halfscreen {
    width: 100%;
    height: $fullsize-height;
    background: $lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 $fullsize-padding-bottom 0;
}

.screen-iphoneX {
    width: $screen-iphoneX-width;
    height: $screen-iphoneX-height;
    border: 10px $black solid;
    border-radius: 38px;
    background: $black;
}

.screen-iphoneX img {
    width: inherit;
    display: block;
    border-radius: 28px;
}

.screen-iphoneX video {
    width: inherit;
    display: block;
    border-radius: 28px;
}


//________________________________
.card-desktop {
    width: $screen-desktop-width;
    height: $screen-desktop-height;
    position: absolute;
}

.card-iphoneX {
    width: $screen-iphoneX-width;
    height: $screen-iphoneX-height;
    position: absolute;
}

//________________________________
.fullsize {
    width: 100%;
    height: $fullsize-height;
    overflow: hidden;
    position: relative;
}

.fullsize > video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.halfscreen-image {
    display: inline-block;
    width: 50%;
}

.halfscreen-image > img {
    width: 100%;
}

.halfscreen-video {
    display: inline-block;
    width: 50%;
}

.halfscreen-video > video {
    width: 100%;
}


